@font-face {
   font-family: 'iCiel-Gotham-Medium';
   src: url('./fonts/iCiel-Gotham-Medium.ttf.woff') format('woff'),
      url('./fonts/iCiel-Gotham-Medium.ttf.svg') format('svg'),
      url('./fonts/iCiel-Gotham-Medium.ttf.eot');
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

body {
   font-family: 'iCiel-Gotham-Medium';
}